body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./img/cls.jpg')
}
h1,button,h4{
  color:white;
  font-family: 'Shrikhand', cursive;
}
p{
  font-family: 'Shrikhand', cursive;
}
img{
  width: 300px;
  height: 300px;
}